{% extends "base.html" %}

{% block title %}Recipe{% endblock %}

{% block content %}
    <body onload=send_request_reverse_recipe()>
    <div class="container">
        <h1>Recipe</h1>
    </div>
    <div class="container">
        <table class="table" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Used Ingredient</th>
                <th>More</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    </body>
{% endblock %}